// Device breakpoints
$desktop: min-width 1920px;
$laptop-lg: min-width 1750px;
$laptop-md: min-width 1600px;
$laptop: min-width 1440px;
$laptop-sm: min-width 1025px;
$tablet: min-width 1024px;
$tablet-sm: min-width 768px;
$mobile-lg: min-width 600px;
$mobile: min-width 375px;
$mobile-sm: min-width 340px;
$mobile-only: max-width 767px;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  $key: list.nth($breakpoint, 1);
  $value: list.nth($breakpoint, 2);

  @if $key == 'min-width' {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // Try max-width media query set
  @else if $key == 'max-width' {
    @media (max-width: map-get($breakpoints-only, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    // @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    //     + "Available breakpoints are: #{map-keys($breakpoints)}.";
    @media ($breakpoint) {
      @content;
    }
  }
}
