/******************************************************************
Stylesheet: Accordions
@since 1.0.0
@updated 1.0.0
******************************************************************/

.accordions {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.accordion {
  position: relative;
  margin-bottom: 1rem;

  // @include breakpoint($tablet-sm) {
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  // }

  &:last-of-type {
    // border-bottom: 0;
    margin-bottom: 0;
  }

  &__head {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
    // position: relative;
    cursor: pointer;
    transition: none;
    text-align: left;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:hover {
      // .accordion__title {
      //   color: $color-hover;
      // }

      &::after {
        width: 100%;
      }

      .accordion__plus-minus {
        &::before,
        &::after {
          background: $color1;
        }
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid rgba($color2, 0.5);
    }

    &::after {
      width: 0;
      border-color: $color1;
      transition: width $transition;
    }
  }

  &__title {
    transition: $transition;
    margin-bottom: 0 !important;
    margin-right: 1rem;
    font-weight: 600;
    color: $color1;
  }

  &__arrow {
    display: flex;
    height: 1rem;
    transition: $transition;

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__plus-minus {
    display: flex;
    height: 0.75em;
    width: 0.75em;
    min-width: 0.75em;
    position: relative;
    // margin-right: 0.75em;
    margin-top: 0.35em;
    margin-left: auto;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background: $color4;
      transition: $transition;
      position: absolute;
      top: calc(50% - 1px);
      border-radius: 1px;
      left: 0;
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

  &__body {
    display: none;
    overflow: hidden;
    transition: $transition;
    // padding-top: 10px;

    @media print {
      display: block;
      height: auto;
    }

    &__inner {
      padding-bottom: 0.75rem;
      // padding-left: 1.5rem;

      // * {
      //   font-weight: 300;
      // }

      // strong {
      //   font-weight: 500;
      // }

      // h5,
      // h6 {
      //   margin-bottom: 1.5rem;
      // }
    }
  }

  &.active {
    .accordion__head {
      &::after {
        width: 100%;
      }
    }
    .accordion__arrow {
      transform: rotate(180deg);
    }

    .accordion__plus-minus::after {
      transform: rotate(0deg);
    }
  }
}
