/******************************************************************
Stylesheet: Buttons
@since 1.0.0
@updated 1.0.0
******************************************************************/

@mixin btn {
  font: $body-font;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: auto;
  background: transparent;

  &::after {
    content: '';
  }

  &.white {
    color: var(--white);

    &::after {
      background: var(--white);
    }
  }
}

.button {
  @include btn;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}
