/******************************************************************
Stylesheet: Global Header
@since 1.0.0
@updated 1.0.0
******************************************************************/

/*********************
Commons
*********************/

:root {
  --menu-spacing: 1.5rem;
  --hamburger-height: 1rem;
  --hamburger-width: 1.5rem;
  --hamburger-bar-height: 2px;
  --hamburger-bar-color: var(--color-primary);
  --hamburger-bar-color-hover: var(--color-primary);

  @include breakpoint($laptop-sm) {
    --menu-spacing: 1.5rem;
  }

  @include breakpoint($laptop-lg) {
    --menu-spacing: 2.5rem;
  }
}

.menu-item {
  font-weight: 500;
  list-style: none;
  white-space: nowrap;

  > a {
    text-decoration: none;

    &[target='_blank'] {
      @include external-link;
    }
  }

  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor {
    > a {
      font-weight: 700;
    }
  }

  &.menu-item-anchor {
    > a {
      font-weight: 500;
    }
  }

  &.menu-item-has-children {
    --arrow-rotate: 0deg;

    position: relative;

    > a {
      display: inline-flex;
      position: relative;
      padding-right: 1.5rem;

      &::after {
        content: '';
        background: url(#{$icons-dir}angle-down.svg) no-repeat center center;
        background-size: contain;
        height: 1rem;
        width: 1rem;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(var(--arrow-rotate));
        transition: var(--transition);
      }
    }

    > .sub-menu {
      position: absolute;
      top: 100%;
      right: 0;
      box-shadow: var(--shadow-1);
      padding: var(--size-1);
      transform: scale(0.9);
      transform-origin: right top;
      opacity: 0;
      pointer-events: none;
      transition: var(--transition);
    }

    &.focus,
    &:hover,
    &:focus-within {
      --arrow-rotate: 180deg;

      > .sub-menu {
        opacity: 1;
        pointer-events: initial;
        transform: scale(1);
      }
    }
  }
}

ul.menu {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: calc(var(--menu-spacing) * -0.25) calc(var(--menu-spacing) * -0.5);

  li {
    padding: calc(var(--menu-spacing) * 0.25) calc(var(--menu-spacing) * 0.5);
  }

  @include breakpoint($laptop-sm) {
    justify-content: flex-end;
  }
}

/*********************
Header
*********************/

.header {
  position: relative;
  z-index: 1;

  &__top {
    position: relative;
    z-index: 1;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    &__link {
      display: flex;
      width: 100%;
      max-width: 10rem;

      @include breakpoint($mobile-lg) {
        width: 10rem;
        max-width: initial;
      }

      @include breakpoint($tablet-sm) {
        width: 15rem;
      }

      @include breakpoint($laptop) {
        width: 17rem;
      }

      @include breakpoint($laptop-lg) {
        width: 18rem;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // Main Navigation
  &__nav {
    padding: 2rem 0;
    display: flex;
    align-items: center;
  }

  // Mobile Navigation
  &__nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    transform: translateY(-10px);
    background: hsl(var(--white-hsl) / 80%);
    backdrop-filter: blur(1rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 10rem;

    &.toggled {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    > .menu-main-menu-container {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;
    }

    &__menu {
      list-style: none;
      @include margin(all, -14px -7px, -14px);

      display: flex;
      flex-flow: wrap;

      ul {
        list-style: none;
      }

      .menu-item {
        width: 50%;

        @include breakpoint($tablet-sm) {
          width: 33.333%;
        }

        > a {
          display: inline-flex;
        }
      }
    }
  }

  &__search {
    margin-left: calc(var(--menu-spacing) * 1);

    @include breakpoint($laptop-sm) {
      position: relative;
    }

    &__toggle {
      display: flex;
      align-items: center;
      transition: var(--transition);

      svg {
        height: var(--size-3);
        width: var(--size-3);
      }

      &:hover {
        color: var(--color-accent);
      }
    }

    &__box {
      position: absolute;
      top: 100%;
      right: -1rem;
      width: 100%;
      min-width: 16rem;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: -1;
      transition: opacity var(--transition);

      @include breakpoint($mobile) {
        min-width: 20rem;
      }

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 10;
      }

      &__inner {
        background-color: var(--white);
        box-shadow: var(--shadow-1);
        padding-top: 1rem;
      }

      form {
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    &__results {
      padding: 0.5rem var(--input-padding-left);

      ul {
        list-style: none;
      }

      li {
        text-align: left;
      }

      > ul {
        border-top: 1px solid var(--green-0);
        padding: 1rem 0;

        > li {
          &:not(:last-child) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--green-0);
          }
        }

        .post-type {
          margin-bottom: 0.5rem;
        }
      }

      a {
        padding: 0.25rem 0;
        display: flex;
        font-weight: 500;
      }

      > ul.skeleton {
        > li {
          &:not(:last-child) {
            border-bottom: 1px solid var(--green-0);
          }

          > ul {
            > li {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

/*********************
Hamburger Menu Toggle
*********************/

.menu-toggle {
  display: inline-flex;
  line-height: 1;
  background: none;
  border: none;
  align-items: center;
  padding: 0;
  z-index: 10;
  cursor: pointer;
  color: var(--color-p);
  font-weight: 800;

  @include breakpoint($laptop-sm) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &.hidden {
    display: none;
  }

  .menu-hamburger {
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    position: relative;
    transform: rotate(0deg);
    transition: var(--transition);
    cursor: pointer;
    margin-left: 0.75rem;

    > span {
      display: block;
      position: absolute;
      height: var(--hamburger-bar-height);
      width: 100%;
      background-color: var(--hamburger-bar-color);
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: var(--transition);

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: calc(
          (var(--hamburger-height) - (var(--hamburger-bar-height) * 3)) * 0.5 +
            var(--hamburger-bar-height)
        );
      }

      &:nth-child(4) {
        top: calc(var(--hamburger-height) - var(--hamburger-bar-height));
      }
    }
  }

  &[aria-expanded='true'] .menu-hamburger > span {
    &:nth-child(1) {
      top: calc(
        (var(--hamburger-height) - (var(--hamburger-bar-height) * 3)) * 0.5 +
          var(--hamburger-bar-height)
      );
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: calc(var(--hamburger-height) - var(--hamburger-bar-height));
      width: 0%;
      left: 50%;
    }
  }

  &[aria-expanded='true'] {
    &:hover .menu-hamburger {
      > span {
        &:nth-child(1) {
          width: 0;
        }

        &:nth-child(4) {
          left: 0;
        }
      }
    }
  }

  &__label {
    font-weight: 700;
    margin-left: 0.75rem;
  }
}
