body,
html {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  &.no-scroll {
    &,
    body {
      overflow: hidden;
    }
  }

  &.mobile-menu-open {
    .site::before {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

main {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// fill content to screen height
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--white-hsl) / 90%);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition);

    @supports (backdrop-filter: blur(10px)) or
      (-webkit-backdrop-filter: blur(10px)) {
      background-color: hsl(var(--white-hsl) / 60%);
    }

    @include breakpoint($laptop-sm) {
      display: none;
    }
  }

  .site-content {
    flex: 1;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: inline;
  }
}

.mt-section {
  margin-top: var(--section-break);
}

.pt-section {
  padding-top: var(--section-break);
}

.mb-section {
  margin-bottom: var(--section-break);
}

.pb-section {
  padding-bottom: var(--section-break);
}

.mt-content {
  margin-top: var(--content-break);
}

.pt-content {
  padding-top: var(--content-break);
}

.mb-content {
  margin-bottom: var(--content-break);
}

.pb-content {
  padding-bottom: var(--content-break);
}

.mt-page {
  margin-top: var(--page-break);
}

.mt-p {
  margin-top: var(--p-break);
}

.mb-p {
  margin-bottom: var(--p-break);
}

.mb-0 {
  margin-bottom: 0;
}

@include push-responsive;
