body,
html {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// fill content to screen height
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-content {
    flex: 1;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: inline;
  }
}

.page-m-t {
  @include margin(top, 35px, 60px, 80px, 100px, 100px);
}

.page-p-t {
  @include padding(top, 35px, 60px, 80px, 100px, 100px);
}

.page-m-b {
  @include margin(bottom, 80px, 80px, 100px, 100px);
}

.page-p-b {
  @include padding(bottom, 80px, 80px, 100px, 100px);
}

.section-m-t {
  @include margin(top, 35px, 60px, 100px, 120px, 150px);

  // &--sm {
  //   @include margin(top, 40px, 40px, 50px, 75px);
  // }

  // &--lg {
  //   @include margin(top, 60px, 80px, 80px, 100px);
  // }
}

.section-p-t {
  @include padding(top, 35px, 60px, 100px, 120px, 150px);
}

.section-m-b {
  // @include margin-bottom;
  @include margin(bottom, 35px, 60px, 100px, 120px, 150px);

  // &--sm {
  //   @include margin(bottom, 40px, 40px, 50px, 75px);
  // }
}

.section-p-b {
  @include padding(bottom, 35px, 60px, 100px, 120px, 150px);

  // &--sm {
  //   @include padding(bottom, 40px, 40px, 50px, 75px);
  // }
}

@include push-responsive;
