// Prevent awkward load-in on sliders
// *** Make sure to add .slider-wrapper class to the div you are initializing the slider on ***

.slider-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;

  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}
