.tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: -0.625rem;
  margin-bottom: -0.625rem;

  @include breakpoint($tablet-sm) {
    margin-top: 0;
    margin-bottom: 0;
  }

  // @media (hover: hover) {
  //   flex-flow: wrap;
  //   @include margin(bottom, -10px, 0, 0, 10px);
  // }

  .tab {
    white-space: nowrap;
    height: 100%;

    > span {
      // @extend %link-underline;
      color: var(--color-primary);
      font-weight: 600;
      white-space: nowrap;
      height: auto;
    }

    &:not(:last-child) {
      @include margin(right, 1.875rem, 1.875rem, 1.875rem, 2.375rem);
    }

    // &:hover,
    // &:focus {
    //   color: var(--color-accent);
    // }

    &--active {
      font-weight: 700;
    }

    // &.slick-slide {
    //   margin-right: 0;

    //   &::after {
    //     display: none;
    //   }
    // }
  }
}

.tabpanels {
  margin: 1.25rem 0 0;

  .tabpanel {
    &:not(.tab-default) {
      // prevent animation on load
      animation: fade-up 0.25s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &:not(.tabpanel--active) {
      // inactive style
      display: none;
    }
  }
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
